<h1 class="display-5 fw-bold text-center">
  Hi, <%= user.id.substring(0, 10) %>!
</h1>
<p class="lead text-center">
  🤖 Welcome !
</p>


<h1 class="display-5 fw-bold text-center">
  Request a payment
</h1>

<p class="text-center">
  <a class="btn btn-danger btn-xxl" href="#" onclick="payWithCheckout(1, 'Payment description')">
    Pay 1 sat
  </a> 
</p>
